* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    text-decoration: none;
    font-family: 'Sawarabi Mincho', serif, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bb8d7c; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bb8d7c; 
}

body {

    backdrop-filter: blur(0px);
    /* background-image:url(..//images/bamboo.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    background-color:#eaeae8;
}

header h1 {
    display: inline-block;
    letter-spacing: 2px;
    padding: 15px 20px;
    color: #4b4b46;
    font-size: 45px;
}

header nav {
    padding-top: 30px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color:#eaeae8;
}

header ul {
    margin-right: 6px;
    list-style-type:none;
    display: flex;
}

header nav ul li {
    display:inline-block;
    color: #eaeae8;
    margin-left: 15px;
    
}

a {
    color: #fff;
    
}

a:hover {
    color: #bb8d7c;
    text-shadow: 2px;
    /* border-radius: 1px solid #4b4b46; */
    transition: 0.2s;
}

main {
    display:flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color:#4b4b46;
    
}


/* ---------------------------------------------------------------------------------/ about me section */

/* .images {
    object-fit: contain;
    margin-left:750px; 
    height: 525px;
    width:auto;
    float:inline-end; 
    flex-direction: row;
}
 */
.piccontainer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}

.images {
    position:relative;
    display:flex;
    height: 525px;
    width: auto;
    box-sizing:content-box;
    margin-left: 750px;
    top: -5px;
}

#about-me {
    height: 350px;
    width: 500px;
    background-color: #eaeae8;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-start;
    margin-left: 30px;
    opacity: 0.5;
    filter:blur(2px);
    font-size: 25px;



}

#about-me p {
    padding: 20px;
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
}

#about-me:hover {
    opacity: 1;
    filter:blur(0px);
    transition: 0.4s ease;
    height: 525px;
    width: 750px;
    font-size: 30px;
    padding: 30px;
}

#about-me:hover > p {
    transition: 0.4s ease;
    color: #bb8d7c;
}

#about-me:hover .piccontainer {
    display:inline-block;
    transition:3s ease;
}

#about-me:not(:hover) .piccontainer {
    display:none;
    transition:3s ease;
}


#about-me:not(:hover) {
    opacity: 0.5;
    filter:blur(3px);
    transition: 0.5s ease-in-out;
    height: 350px;
    width: 500px;
}

#about-me:not(:hover) > p {
    color:#4b4b46;
    transition: 0.5s ease-in-out;
}
/* ---------------------------------------------------------------------------------/ my work section */
#my-work {
    height: 350px;
    width: 500px;
    background-color: #eaeae8;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-start;
    margin-left: 30px;
    opacity: 0.5;
    filter:blur(2px);
}

#my-work:hover {
    opacity: 1;
    filter:blur(0px);
    transition: 0.4s ease;
    height: 525px;
    width: 750px;
    font-size: 30px;
}

#my-work:hover > p {
    transition: 0.4s ease;
    color: #bb8d7c;
}

#my-work:not(:hover) {
    opacity: 0.5;
    filter:blur(3px);
    transition: 0.5s ease-in-out;
    height: 350px;
    width: 500px;
}

#my-work:not(:hover) > p {
    color:#4b4b46;
    transition: 0.5s ease-in-out;
}
/* ---------------------------------------------------------------------------------/ contact me section */
#contact-me {
    height: 350px;
    width: 500px;
    background-color: #eaeae8;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-start;
    margin-left: 30px;
    opacity: 0.5;
    filter:blur(2px);
}

#contact-me:hover {
    opacity: 1;
    filter:blur(0px);
    transition: 0.4s ease;
    height: 525px;
    width: 750px;
    font-size: 30px;
}

#contact-me:hover > p {
    transition: 0.4s ease;
    color: #bb8d7c;
}

#contact-me:not(:hover) {
    opacity: 0.5;
    filter:blur(3px);
    transition: 0.5s ease-in-out;
    height: 350px;
    width: 500px;
}

#contact-me:not(:hover) > p {
    color:#4b4b46;
    transition: 0.5s ease-in-out;
}


