* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    text-decoration: none;
    font-family: 'Sawarabi Mincho', serif; Arial;
    
}

body {

    backdrop-filter: blur(4px);
    
   
}

header {
    background-color:#eaeae8;
}

header h1 {
    display: inline-block;
    letter-spacing: 2px;
    padding: 15px 20px;
    color: #4b4b46;
    font-size: 45px;
    
    
}

header nav {
    padding-top: 30px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color:#eaeae8;
}

header ul {
    margin-right: 6px;
    list-style-type:none;
    display: flex;
}

header nav ul li {
    display:inline-block;
    color: #eaeae8;
    margin-left: 15px;
    
}

a {
    color: white;
    
}

a:hover {
    color: #bb8d7c;
    text-shadow: 2px;
    border-radius: 1px solid #4b4b46;
    transition: 0.2s;
    ;
  }

main {
    display:flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color:#4b4b46;
    
}

#about-me {
    height: 350px;
    width: 500px;
    background-color: #eaeae8;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-start;
    margin-left: 30px;
    opacity: 0.5;
    filter:blur(2px);
}

#about-me:hover {
    opacity: 1;
    filter:blur(0px);
    transition: 0.4s ease;
    height: 525px;
    width: 750px;
    font-size: 30px;
}

#about-me:hover > p {
    transition: 0.4s ease;
    color: #bb8d7c;
}

#about-me:not(:hover) {
    opacity: 0.5;
    filter:blur(3px);
    transition: 0.5s ease-in-out;
    height: 350px;
    width: 500px;
}

#about-me:not(:hover) > p {
    color:#4b4b46;
    transition: 0.5s ease-in-out;
}

#my-portfolio {
    height: 350px;
    width: 80%;
    background-color: #e2e2e0;
    margin-bottom: 20px;
}

#contact-me {
    height: 350px;
    width: 80%;

    background-color: #eaeae8;
}

